#container {width: 1000px; margin: auto;}

#inner{float:left; clear:left;}

a {text-decoration: none;}

body {max-width: 1200px; margin: auto; height: 100%;}

img {width: 100px; border-radius: 10px; float: left; margin-right: 10px;}

li {float: left;}
li a {display: block; color: #666; text-align: center; padding: 14px 16px; text-decoration: none;}
li a:hover {color: white; text-decoration: none; background-color: #111;}

p.title {font-weight: bold;}

table, th, td {border-collapse: collapse; border: 0px solid black;}

ul.tabSpace {list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #333;}

.active {color: white; text-decoration: white; background-color: #4CAF50;}

.ex1 {margin-left: 120px; color: white;}

.header {width: 100%; height: 174px; background-color: grey; background-image: linear-gradient(to right, grey, white);}

.list-items {display: inline-flex; flex-wrap: wrap;}

.main_links {color: white; font-size: 14px; font-weight: bold; font-family: Sans-serif;}

.passive {color: white; text-decoration: none; background-color: #333;}