@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
	box-sizing: border-box;
	/*
	margin: 0;
	padding: 0;
	*/
	background-color:#f6f6f6;
}

#page-container {
	position: relative;
	min-height: 100vh;
}

#content-wrap {
	padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
	position: absolute;
	bottom: 15px;
	width: 100%;
	height: 2.5rem;            /* Footer height */
}

html, body {
	max-width: 1200px;
	margin: auto;
	height: 100%;
	min-height: 100%;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 0px;
	padding-top: 10px;
	padding-left: 1%;
	padding-right: 1%;
}

.fontmont {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}

/*Navigation Bar*/

.navbar {
	width: 100%;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	margin: 0;
}

.navbar li a {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: white;
	text-decoration: none;
	float: left;
	text-align: center;
	padding: 14px 16px;
}

.navbar li a:hover {
	color: #666;
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}

.passive {
	background-color: #333;
}

/*Object List with Details Written On Canvas*/

.column {
	float: left;
	padding: 0px;
}

.sidebar {
	width: 25%;
	height: 100%;
	margin: 0px;
}

.sidebar li a {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: white;
	text-decoration: none;
	padding: 5px;
}

.canvas {
	width: 75%;
	margin: 0px;
}

img {
	width: 100px;
	border-radius: 10px;
	float: right;
	padding-left: 20px;
}

/*Footer*/

.contactbar {
	width: 100%;
	list-style-type: none;
	padding: 0;
}

.contactbar li a {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 12px;
	color: black;
	text-decoration: none;
	float: left;
	text-align: center;
	padding: 0px 10px;
}