<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    <meta name="keywords" content = "python, petroleum, reservoir, simulation, geomechanics, bhos, bhospy">

    <meta name="description" content = "BhosPy related tutorials and researches">

    <title>Welcome | BhosPy</title>

    <link rel="stylesheet" href="..\styles\main.css">

  </head>

  <body>

    <div id="page-container">

      <header>
        <h2>SCIENTIFIC COMPUTATION TOOLS</h2>
        <select name="Language">
          <option value="Azerbaijani">Azerbaijani</option>
          <option value="Turkish">Turkish</option>
          <option value="English">English</option>
          <option value="Russian">Russian</option>
        </select>
      </header>

      <nav>
        <ul class="ribbon">
          <li><a href="..\index.html" class="passive" data-link>Home</a></li>
          <li><a href="\" class="active" data-link>Courses</a></li>
          <li><a href="modeling.html" class="passive" data-link>Modeling</a></li>
          <li><a href="people.html" class="passive" data-link>People</a></li>
        </ul>
      </nav>

      <div>
        <nav id="sidecontent">
          <ul class="sidebar">
            <li><a href="#" onclick="changeCanvasItem(0)">Fluid Mechanics</a></li>
            <li><a href="#" onclick="changeCanvasItem(1)">Reservoir Modelling</a></li>
            <li><a href="#" onclick="changeCanvasItem(2)">Geomechanics</a></li>
            <li><a href="#" onclick="changeCanvasItem(3)">Inverse Theory</a></li>
            <li><a href="#" onclick="changeCanvasItem(4)">Geostatistics</a></li>
            <li><a href="#" onclick="changeCanvasItem(5)">Petrophysics</a></li>
            <li><a href="#" onclick="changeCanvasItem(6)">Well Logging</a></li>
          </ul>
        </nav>

        <div class="canvas">
          <div class="canvas-item">
            <h3>Fluid Meachanics</h3>
            <p>Petroleum engineers deal with fluid flow all the time; it can be related to drilling or workover operations or associated with reservoir recovery. We are dealing with the flow of complex mixtures through the reservoir rock and through the pipelines, and in the system, there is an interaction between gases-and-liquids and liquids-and-solids. The basic information we might need in the analysis of such systems, pressure and velocity profiles, can be best understood with the knowledge of fluid mechanics. If we add insight into the thermodynamics, we can dig into the temperature profiles as well.</p>
          </div>

          <div class="canvas-item">
            <h3>Reservoir Modeling</h3>
            <p>The aim is to introduce the basic flow equations, gain practice in writing numerical simulators, learn the appication of finite difference solutions, implement the well models and other boundary conditions and review special topics in simulation.</p>
          </div>

          <div class="canvas-item">
            <h3>Geomechanics</h3>
            <p></p>
          </div>

          <div class="canvas-item">
            <h3>Inverse theory</h3>
            <p></p>
          </div>

          <div class="canvas-item">
            <h3>Geostatistics</h3>
            <p>Oil and gas reservoirs are highly heterogeneous. To manage such reservoirs, one must learn and develop a quantitative understanding of statistics and probability. The main objective of this course is to use basic statistical concepts and methods for the characterization and modelling of spatial heterogeneity which has applications in production planning, formation evaluation and reservoir modelling. Students will be encouraged to use high level programming languages (e.g., python and MATLAB) to do the hard work.</p>
          </div>

          <div class="canvas-item">
            <h3>Petrophysics</h3>
            <p>Petrophysics has a major application in petroleum industry and is employed to help engineers and geoscientists understand the rock properties of the reservoir, particularly how pores in the subsurface are interconnected, controlling the accumulation and migration of hydrocarbons. A major role of petrophysicists is to measure and evaluate rock properties by acquiring well log measurements, in which a string of measurement tools is inserted in the borehole, core measurements, in which rock samples are retrieved from subsurface for the laboratory measurements, and seismic measurements, in which reflected seismic waves are recorded to image subsurface structures. These studies are then combined with geological and geophysical studies and reservoir engineering to give a complete picture of the reservoir.</p>
          </div>

          <div class="canvas-item">
            <h3>Well Logging</h3>
            <p>A major role of petrophysicists is to measure and evaluate rock properties by acquiring well log measurements, in which a string of measurement tools is inserted in the borehole, core measurements, in which rock samples are retrieved from subsurface for the laboratory measurements, and seismic measurements, in which reflected seismic waves are recorded to image subsurface structures. These studies are then combined with geological and geophysical research, and reservoir engineers utilize this knowledge to describe the dynamic behavior of the reservoir. In this course, we will focus on the first way of acquiring data from underground formations and will look at the specific methodologies used in current field applications.</p>
          </div>

        </div>

      </div>

      <footer>
        <ul class="contactbar">
          <li><a href="mailto:shiriyevcavid@gmail.com">Email</a></li>
          <li><a href="https://www.linkedin.com/in/jshiriyev/" target="_blank">LinkedIn</a></li>
          <li><a href="https://github.com/jshiriyev/" target="_blank">GitHub</a></li>
          <li><a href="https://scholar.google.com/citations?user=YvggY5wAAAAJ&hl=en" target="_blank">Google Scholar</a></li>
        </ul>
      </footer>
    </div>

    <script src="..\scripts\courses.js"></script>

  </body>

</html>