<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    <meta name="keywords" content = "python, simulation, scientific computing, fluid meachanics, geomechanics, resistivity modeling, geomodeling">

    <meta name="description" content = "formation evaluation related tutorials and researches">

    <title>Formation Evaluation</title>

    <link rel="stylesheet" href="..\styles\main.css">

  </head>

  <body>

    <script src="..\scripts\header.js"></script>
    <script src="..\scripts\footer.js"></script>

    <div id="page-container">

      <page-header></page-header>

      <nav class="ribbon">
        <div class="ribbon-title">
          <a href="..\">Main</a>
        </div>
        <div class="ribbon-links">
          <ul>
            <li><a href="..\engineering" class="passive">Engineering</a></li>
            <li><a href="..\modeling" class="active">Modeling</a></li>
            <li><a href="..\contribution" class="passive">Contribution</a></li>
          </ul>
        </div>
        <a href="#" class="ribbon-toggle">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
      </nav>
      
      <main>

        <nav class="sidebar">

          <button class="sidebar-toggle">{{ page['title'] }}</button>

          <div class="sidebar-links">

            {% set maincounter = namespace(value=1) %}

            {% for major in page.majors %}

              <button class="sidebar-accordion">{{ major['title'] }}</button>

              <div class="sidebar-panel">

              {% for item in major.items %}

                <div class="sidebar-item">
                  <a href="#" onclick=changeCanvasItem({{ maincounter.value }})>{{ item['title'] }}</a>
                  <div class="sidebar-item-status">
                    <svg viewBox="0 0 3 3">

                      {% if item['status'] %}
                        <rect x="0" y="0" width="3" height="3" style="fill:#00FF00"/>
                      {% else %}
                        <rect x="0" y="0" width="3" height="3" style="fill:#FF0000"/>
                      {% endif %}

                    </svg>
                  </div>
                </div>

                {% set maincounter.value = maincounter.value + 1 %}
              
              {% endfor %}

              </div>

            {% endfor %}

          </div>

        </nav>

        <div class="canvas">

          <div class="canvas-item">
            <div class="canvas-item-column-one">
              {{ page['html'] }}
            </div>
          </div>

          {% for major in page.majors %}
            {% for item in major.items %}
              <div class="canvas-item">
                <div class="canvas-item-column-one">
                  {{ item['html'] }}
                </div>
              </div>
            {% endfor %}
          {% endfor %}

        </div>

      </main>

      <page-footer></page-footer>
      
    </div>

    <script src="..\scripts\ribbon.js"></script>
    <script src="..\scripts\sidebar.js"></script>
    <script src="..\scripts\canvas.js"></script>

  </body>

</html>