<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <meta name="keywords" content = "python, simulation, modeling, scientific computing, fluid meachanics, geomechanics, electromagnetics, resistivity modeling, geomodeling, energy resources, formation evaluation, upstream, oil management, engineering application, datum, scicomp, porepy">
    <meta name="description" content = "Personal Portfolio">

    <title>Shiriyev's Portfolio</title>

    <link rel="stylesheet" href="..\styles\main.css">
    <link rel="stylesheet" href="..\styles\hybrid.css">

  </head>

  <body>

    <script src="..\scripts\header.js"></script>
    <script src="..\scripts\footer.js"></script>

    <div id="page-container">

      <page-header></page-header>

      <nav class="ribbon">
        {{ page['html-ribbon'] }}
      </nav>

      <main>

        {% if page['nick']=="pydemo" %}
        <nav class="sidebar pydemo">
        {% else %}
        <nav class="sidebar library">
        {% endif %}
          {{ page['html-sidebar'] }}
        </nav>
        
        {% if 'html-hybrid' in page %}
        <div class="hybrid">
          {{ page['html-hybrid'] }}
        </div>
        {% endif %}

        <div class="canvas">
          {{ page['html-canvas'] }}
        </div>

      </main>

      <page-footer></page-footer>
      
    </div>

    <script src="..\scripts\main.js"></script>
    <script src="..\scripts\ribbon.js"></script>
    <script src="..\scripts\sidebar.js"></script>
    <script src="..\scripts\hybrid.js"></script>
    <script src="..\scripts\canvas.js"></script>

  </body>

</html>