<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <meta name="keywords" content = "python, simulation, modeling, scientific computing, fluid meachanics, geomechanics, electromagnetics, resistivity modeling, geomodeling, energy resources, formation evaluation, upstream, oil management, engineering application, datum, scicomp, porepy">
    <meta name="description" content = "formation evaluation, engineering and modeling">

    <title>Formation Evaluation</title>

    <link rel="stylesheet" href="..\styles\main.css">

  </head>

  <body>

    <script src="..\scripts\header.js"></script>
    <script src="..\scripts\footer.js"></script>

    <div id="page-container">

      <page-header></page-header>

      {{ page['html-ribbon'] }}

      {{ page['html-main'] }}

      <page-footer></page-footer>
      
    </div>

    <script src="..\scripts\ribbon.js"></script>
    <script src="..\scripts\sidebar.js"></script>
    <script src="..\scripts\canvas.js"></script>

  </body>

</html>