{% if 'degree' in item %}
  <img src="{{ item['image'] }}" alt="{{ item['image-alt'] }}">
{% endif %}
{% if 'degree' in item %}
  <h4>{{ item['degree'] }}</h4>
{% else %}
  <h4>{{ item['title'] }}</h4>
{% endif %}
{% if 'position-1' in item %}
  <p>{{ item['position-1'] }}</p>
{% endif %}
{% if 'position-2' in item %}
  <p>{{ item['position-2'] }}</p>
{% endif %}
<h4>Email</h4>
{% if 'email' in item %}
  <a href="mailto:{{ item['email'] }}">{{ item['email'] }}</a>
{% endif %}
<h4>Meeting</h4>
<p>ZOOM - Please email me for link</p>
<h4>Social Profiles</h4>
{% if 'scholar' in item %}
  <a href="{{ item['scholar'] }}" target="_blank">Google Scholar</a>
{% endif %}
{% if 'github' in item %}
  <a href="{{ item['github'] }}" target="_blank">GitHub</a>
{% endif %}
{% if 'linkedin' in item %}
  <a href="{{ item['linkedin'] }}" target="_blank">LinkedIn</a>
{% endif %}