<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    <meta name="keywords" content = "python, simulation, scientific computing, fluid meachanics, geomechanics, resistivity modeling, geomodeling">

    <meta name="description" content = "formation evaluation related tutorials and researches">

    <title>Formation Evaluation</title>

    <link rel="stylesheet" href="..\styles\main.css">

  </head>

  <body>

    <script src="..\scripts\header.js"></script>
    <script src="..\scripts\footer.js"></script>

    <div id="page-container">

      <page-header></page-header>

      <nav class="ribbon">
        <div class="ribbon-title">
          <a href="..\">Main</a>
        </div>
        <div class="ribbon-links">
          <ul>
            <li><a href="..\engineering" class="passive">Engineering</a></li>
            <li><a href="..\modeling" class="passive">Modeling</a></li>
            <li><a href="..\contribution" class="active">Contribution</a></li>
          </ul>
        </div>
        <a href="#" class="ribbon-toggle">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
      </nav>
      
      <main>

        <nav class="sidebar">

          <button class="sidebar-toggle">{{ page['title'] }}</button>

          <div class="sidebar-links">

            {% set maincounter = namespace(value=1) %}

            {% for major in page.majors %}

              <button class="sidebar-accordion">{{ major['title'] }}</button>

              <div class="sidebar-panel">

              {% for item in major.items %}

                <div class="sidebar-item">
                  <a href="#" onclick=changeCanvasItem({{ maincounter.value }})>{{ item['title'] }}</a>
                </div>

                {% set maincounter.value = maincounter.value + 1 %}
              
              {% endfor %}

              </div>

            {% endfor %}

          </div>

        </nav>

        <div class="canvas">

          <div class="canvas-item">
            <div class="canvas-item-column-one">
              {{ page['html'] }}
            </div>
          </div>

          {% for major in page.majors %}
            {% for item in major.items %}
              <div class="canvas-item">
                <div class="canvas-item-column-one">
                  {{ item['html'] }}
                </div>
                <div class="canvas-item-column-two">
                  <img src="{{ item['image'] }}" alt="{{ item['image-alt'] }}">
                  {% if 'degree' in item %}
                    <h4>{{ item['degree'] }}</h4>
                  {% else %}
                    <h4>{{ item['title'] }}</h4>
                  {% endif %}
                  {% if 'position-1' in item %}
                    <p>{{ item['position-1'] }}</p>
                  {% endif %}
                  {% if 'position-2' in item %}
                    <p>{{ item['position-2'] }}</p>
                  {% endif %}
                  <h4>Email</h4>
                  {% if 'email' in item %}
                    <a href="mailto:{{ item['email'] }}">{{ item['email'] }}</a>
                  {% endif %}
                  <h4>Meeting</h4>
                  <p>ZOOM - Please email me for link</p>
                  <h4>Social Profiles</h4>
                  {% if 'scholar' in item %}
                    <a href="{{ item['scholar'] }}" target="_blank">Google Scholar</a>
                  {% endif %}
                  {% if 'github' in item %}
                    <a href="{{ item['github'] }}" target="_blank">GitHub</a>
                  {% endif %}
                  {% if 'linkedin' in item %}
                    <a href="{{ item['linkedin'] }}" target="_blank">LinkedIn</a>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          {% endfor %}

        </div>

      </main>

      <page-footer></page-footer>
      
    </div>

    <script src="..\scripts\ribbon.js"></script>
    <script src="..\scripts\sidebar.js"></script>
    <script src="..\scripts\canvas.js"></script>

  </body>

</html>