@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color:#f6f6f6;
}

#page-container {
	position: relative;
	min-height: 100vh;
	overflow: hidden;
	display: block;
}

html {
    overflow-y: overlay;
}

html, body {
	max-width: 1200px;
	margin: auto;
	height: 100%;
	min-height: 100%;
	position: relative;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3%;
}

main {
	display: flex;
	justify-content: start;
}

footer {
	position: absolute;
	padding: 15px;
	bottom: 0px;
	width: 100%;
}

/*Navigation Bar*/

.ribbon {
	width: 100%;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	margin: 0;
}

.ribbon li a {
	font-size: 14px;
	color: white;
	text-decoration: none;
	float: left;
	text-align: center;
	padding: 14px 16px;
}

.ribbon li a:hover {
	color: #666;
	background-color: #111;
}

.ribbon .active {
	background-color: #4CAF50;
}

.ribbon .passive {
	background-color: #333;
}

/*Body-Center*/

.sidebar {
	float: left;
	list-style-type: none;
	padding: 20px 10px 50px 0px;
	width: 120px;
	height: 100%;
	margin: 0px;
}

.sidebar-accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 10px 10px;
	width: 120px;
	text-align: left;
	font-size: 14px;
	border: none;
	outline: none;
	transition: 0.4s;
	text-decoration: none;
}

.sidebar .active, .sidebar-accordion:hover {
	background-color: #ccc;
}

.sidebar-panel {
	padding: 0 28 20 10px;
	background-color: white;
	display: none;
	overflow: hidden;
}

.sidebar-item {
	font-size: 12px;
	color: black;
	text-decoration: none;
	padding: 10px 10px;
	display: block;
}

.sidebar-panel a:hover {
	font-weight: bold;
}

.canvas {
	float: left;
	padding: 20px 10px 50px 20px;
	overflow: hidden;
	margin: 0px;
}

.canvas-item {
	display: none;
}

.canvas-item h3 {
	font-size: 16px;
	padding: 8px 0px 8px 1px;
}

.canvas-item p {
	font-size: 14px;
	padding: 3px 0px;
	overflow: hidden;
}

.canvas-item img {
	width: 90px;
	border-radius: 10px;
	float: right;
	margin-left: 20px;
}

.canvas-item ul {
	list-style-type: square;
	background: rgb(241,241,241);
	padding: 0px 0px 5px 30px;
}

.canvas-item li {
	/*display: block;*/
	background: rgb(241,241,241);
	width: 100%;
	font-size: 14px;
	padding: 3px 3px;
}

.canvas-item a {
	text-decoration: none;
	background: rgb(241,241,241);
}

@media screen and (max-width: 420px) {
	main {
		display: block;
	}
	.sidebar {
		width: 100%;
		display: block;
		height: auto;
		position: relative;
		overflow: hidden;
		padding: 20px 0px 0px 0px;
	}
	.sidebar-accordion {
		width: 100%;
		display: block;
		overflow: hidden;
		text-align: center;
	}
	.sidebar a {
		text-align: center;
		float: none;
	}
}

/*Footer*/

.infobar, .contactbar {
	width: 100%;
	list-style-type: none;
	padding: 0;
}

.infobar, .contactbar li a {
	font-size: 12px;
	color: black;
	text-decoration: none;
	float: left;
	text-align: center;
	padding: 0px 10px;
}

.contactbar li a:hover {
	font-weight: bold; 
}