@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
	box-sizing: border-box;
	background-color:#f6f6f6;
	margin: 0;
	padding: 0;
}

#page-container {
	position: relative;
	min-height: 100vh;
	overflow: hidden;
	display: block;
}

html {
    overflow-y: overlay;
}

html, body {
	max-width: 1200px;
	margin: auto;
	height: 100%;
	min-height: 100%;
	position: relative;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3%;
}

main {
	display: flex;
	justify-content: start;
}

footer {
	position: absolute;
	padding: 15px;
	bottom: 0px;
	width: 100%;
}

/*Navigation Bar*/

.ribbon {
	width: 100%;
	overflow: hidden;
	display: flex;
	list-style-type: none;
	background-color: #333;
	color: white;
	align-items: flex-start;
}

.ribbon-title a, .ribbon-links a {
	font-size: 14px;
	background-color: #333;
	text-decoration: none;
	color: white;
	float: left;
	text-align: center;
	padding: 14px 16px;
	display: block;
}

.ribbon-links a:hover {
	color: #666;
	background-color: #111;
}

.ribbon-links .active {
	background-color: #4CAF50;
}

.ribbon-title .passive {
	background-color: #333;
}

.ribbon-links ul {
	display: flex;
}

.ribbon-links li {
	list-style: none
}

.ribbon-toggle {
	position: absolute;
	margin-top: 10px;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
	background-color: #333;
}

.ribbon-toggle .bar {
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}

/*Body-Center*/

.home-collection {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-bottom: 50px;
}

.home-repeated-icons {
	width: 0px;
	height: 0px;
}

.home-box {
	border-style: solid;
	border-color: white;
	border-width: 2px;
	font-size: 12px;
	text-align: left;
	width: 350px;
	height: 160px;
	min-width: 350px;
	max-width: 350px;
	padding: 5px 5px 10px 10px;
	margin: 5px;
	box-shadow: 5px 5px 5px rgb(200,200,240);
	text-decoration: none;
	color: black;

}

.home-box-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 5px;
}

.home-box-title h3 {
	padding: 5px 0px 5px 0px;
}

.home-box-title svg {
	width: 25px;
	height: 25px;
}

.sidebar {
	float: left;
	width: 120px;
	height: 100%;
	margin: 0px;
	padding: 20px 10px 50px 0px;
	list-style-type: none;
}

.sidebar.home {
	width: 240px;
	min-width: 240px;
	border-right: 1px solid gray;
}

.sidebar-toggle {
	display: none;
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 10px 16px;
	width: 100%;
	text-align: left;
	font-size: 14px;
	border: none;
	outline: none;
	transition: 0.4s;
	text-decoration: none;
}

.sidebar.home .sidebar-toggle {
	background-color: none;
}

.sidebar-accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 10px 10px;
	width: 100%;
	text-align: left;
	font-size: 14px;
	border: none;
	outline: none;
	transition: 0.4s;
	text-decoration: none;
}

.sidebar.home .sidebar-accordion {
	background-color: #f6f6f6;
}

.sidebar .active, .sidebar-accordion:hover {
	background-color: #ccc;
}

.sidebar-panel {
	padding: 0 28 20 10px;
	background-color: white;
	display: none;
	overflow: hidden;
}

.sidebar-item {
	padding: 10px 0px 10px 10px;
	display: flex;
}

.sidebar-item a {
	width: 100%;
	float: left;
	font-size: 12px;
	color: black;
	padding: 0px;
	text-decoration: none;
}

.sidebar.home .sidebar-item a {
	padding-left: 8px;
}

.sidebar-item a:hover {
	font-weight: bold;
}

.sidebar-item-status {
	display: flex;
	width: 5px;
	float: left;
	margin-left: auto;
}

.canvas {
	width: 100%;
	float: left;
	overflow: hidden;
	margin: 0px;
}

.canvas-item {
	display: none;
	padding-top: 20px;
	padding-bottom: 50px;
	padding-left: 20px;
}

.canvas-item-column-one {
	float: left;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding-right: 10px;
}

.canvas-item-column-one a {
	text-decoration: none;
	background: rgb(241,241,241);
}

.canvas-item-column-one h3 {
	width: 100%;
	display: block;
	overflow: hidden;
	font-size: 16px;
	padding: 8px 0px 8px 1px;
}

.canvas-item-column-one li {
	background: rgb(241,241,241);
	width: 100%;
	font-size: 13px;
	padding: 3px 3px;
}

.canvas-item-column-one p {
	font-size: 13px;
	padding: 3px 0px;
}

.canvas-item-column-one ul {
	list-style-type: square;
	background: rgb(241,241,241);
	padding: 0px 0px 5px 30px;
}

.canvas-item-column-two {
	float: left;
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 100%;
	margin: 0;
	padding-right: 0px;
}

.canvas-item-column-two a {
	float: bottom;
	font-size: 13px;
	line-height: 1.6;
	text-decoration: none;
	padding-left: 6px
}

.canvas-item-column-two h4 {
	padding-top: 10px;
	font-size: 16px;
	line-height: 2;
	padding-left: 6px
}

.canvas-item-column-two img {
	width: 220px;
	border-radius: 10px;
	padding: 5px;
}

.canvas-item-column-two p {
	font-size: 13px;
	line-height: 1.6;
	padding-left: 6px
}

@media screen and (max-width: 420px) {

	.ribbon {
		flex-direction: column;
	}

	.ribbon-links {
		display: none;
		width: 100%;
	}

	.ribbon-links.active {
		display: flex;
	}

	.ribbon-links ul {
		width: 100%;
		flex-direction: column;
	}

	.ribbon-links li {
		width: 100%;
		text-align: center;
	}

	.ribbon-links li a {
		width: 100%;
		padding: .5rem 1rem;
	}

	.ribbon-toggle {
		display: flex;
	}

	main {
		display: block;
	}

	.sidebar {
		width: 100%;
		display: block;
		height: auto;
		position: relative;
		overflow: hidden;
		padding: 0px;
		background-color: #eee;
	}

	.sidebar.home {
		border-right: none;
		width: 100%;
	}

	.sidebar-toggle {
		display: block;
		width: 100%;
	}

	.sidebar-links {
		width: 100%;
		display: none;
	}

	.sidebar-links.active {
		display: block;
	}

	.sidebar-accordion {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
		display: block;
		overflow: hidden;
		text-align: left;
	}

	.sidebar-item {
		padding: 10px 30px 10px 25px;
	}

	.canvas {
		width: 100%;
		overflow: hidden;
		padding-right: 20px;
	}

	.canvas-item {
		flex-direction: column-reverse;
	}

	.canvas-item-column-two {
		width: 100%;
		justify-content: center;
		/*align-items: center;*/
		/*margin: auto;*/
	}

	.canvas-item-column-two a {
		padding-left: 0px;
	}

	.canvas-item-column-two h4 {
		padding-left: 0px;
	}

	.canvas-item-column-two img {
		display: none;
	}

	.canvas-item-column-two p {
		padding-left: 0px;
	}

}

/*Footer*/

.infobar, .contactbar {
	width: 100%;
	list-style-type: none;
	padding: 0;
}

.infobar, .contactbar li a {
	font-size: 12px;
	color: black;
	text-decoration: none;
	float: left;
	text-align: center;
	padding: 0px 10px;
}

.contactbar li a:hover {
	font-weight: bold; 
}