@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color:#f6f6f6;
}

#page-container {
	position: relative;
	min-height: 100vh;
	overflow: hidden;
	display: block;
}

html, body {
	max-width: 1200px;
	margin: auto;
	height: 100%;
	min-height: 100%;
	position: relative;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3%;
}

footer {
	position: absolute;
	padding: 15px;
	bottom: 0px;
	width: 100%;
}

h2 {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}

select {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}

option {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}

/*Navigation Bar*/

.ribbon {
	width: 100%;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	margin: 0;
}

.ribbon li a {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: white;
	text-decoration: none;
	float: left;
	text-align: center;
	padding: 14px 16px;
}

.ribbon li a:hover {
	color: #666;
	background-color: #111;
}

.ribbon .active {
	background-color: #4CAF50;
}

.ribbon .passive {
	background-color: #333;
}

/*Body-Center*/

.sidebar {
	float: left;
	list-style-type: none;
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 0px;
	padding-right: 10px;
	width: 25%;
	height: 100%;
	margin: 0px;
}

.sidebar li {
	padding-top: 0px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.sidebar li a {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: black;
	text-decoration: none;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.sidebar li a:hover {
	font-weight: bold;
}

.canvas {
	float: left;
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 10px;
	padding-right: 10px;
	width: 75%;
	margin: 0px;
}

#sample1 {
	display: block;
}

#sample2 {
	display: none;
}

#sample3 {
	display: none;
}

#sample4 {
	display: none;
}

#sample5 {
	display: none;
}

.canvas-item h3 {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	padding-bottom: 10px;
}

.canvas-item p {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 14px;
	padding-bottom: 10px;
}

.canvas-item img {
	width: 100px;
	border-radius: 10px;
	float: right;
	padding-left: 20px;
}

/*Footer*/

.contactbar {
	width: 100%;
	list-style-type: none;
	padding: 0;
}

.contactbar li a {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 12px;
	color: black;
	text-decoration: none;
	float: left;
	text-align: center;
	padding: 0px 10px;
}

.contactbar li a:hover {
	font-weight: bold; 
}